<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>这是 孙希庚 的测试网站</h1>
    <p style="color:red;font-size: 2em;">朱毓秀是大笨蛋</p>
    <p>当前时间：<%= currentTime %></p>
    <p><a href="/todos">一个简单的「TODO 列表」示例</a></p>
  </body>
</html>
